<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite-Test">
	<listeners>
		<listener class-name="logManager.testNGLogger" />
		<listener class-name="logManager.alpha" />
	</listeners>


  <test thread-count="5" name="Test">
    <classes>
      <class name="example.TestNGkeyDrivenExample"/>
      <class name="example.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
